@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #e1eceb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.sidebar-ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  position: relative;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.5s;
  margin-bottom: 1rem;
}
.sidebar-ul li::after,
.sidebar-ul li::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
  z-index: 0;
}
.sidebar-ul li::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}
.selected {
  background-color: #e1eceb;
  color: #415c5a;
}
/* .selected li {
  color: #415c5a;
} */

.selected::after {
  box-shadow: 0 25px 0 0 #e1eceb;
}

.selected::before {
  box-shadow: 0 -25px 0 0 #e1eceb;
}
.users-pics {
  margin-left: -0.5rem;
  border: 1.5px solid #415c5a;
}
.no-ml {
  margin-left: 0;
  margin-right: -0.2rem;
}
.top-header {
  display: grid;
  grid-template-columns: 2fr 0.9fr 0.9fr;
}
.left-main {
  flex: 0.7;
}
.right-main {
  flex: 0.3;
}
.price-tag1,
.price-tag2 {
  display: none;
}
.price-tag1::after,
.price-tag2::after {
  content: "";
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%) rotate(360deg);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d3a019 transparent;
}
.left-slider:hover .price-tag1,
.right-slider:hover .price-tag2 {
  display: block;
}
.header-icon-hover {
  display: none;
}
.header-comp:hover .header-icon-hover {
  display: flex;
}
.header-comp:hover .header-icon {
  display: none;
}
